body {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.form-group input[type="color"] {
    padding: 0;
    height: 40px;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #218838;
}

::placeholder {
    color: #bbbbbb;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #333;
    border-bottom: 2px solid #444;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}


/* Estilos da tabela de metas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
}

th,
td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #555;
    font-weight: bold;
}

td {
    background-color: #444;
}

/* Estilos das células de ação */
.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos dos botões de ação */
.actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Botão de editar */
.actions .editBtn {
    background-color: #ffc107;
    color: #242424;
}

.actions .editBtn:hover {
    background-color: #e0a800;
}

/* Botão de excluir */
.actions .deleteBtn {
    background-color: #dc3545;
    color: white;
}

.actions .deleteBtn:hover {
    background-color: #c82333;
}