body{
    background-color: #242424;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #7a7a7a;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="color"] {
    padding: 0;
    height: 40px;
}
.form-group button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.form-group button:hover {
    background-color: #218838;
}